<div class="comments-container">
  <strong><%= Comment.model_name.human %>:</strong>
  <% if comments.any? %>
    <ul>
      <% comments.each do |comment| %>
        <li>
          <%= comment.content %>
          <small>
            (<%= link_to comment.user.name_or_email, comment.user %> - <%= l comment.created_at, format: :short %>)
          </small>
          <%= link_to t('views.common.destroy'), polymorphic_path([commentable, comment]), method: :delete if comment.editable?(current_user) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    (<%= t('views.comment.not_exist') %>)
  <% end %>
</div>
