<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>

<%= @user.id %><br>
<%= @user.email %><br>
<%= @user.postal_code %><br>
<%= @user.prefecture_code %><br>
<%= @user.city %><br>
<%= @user.street %><br>
<%= @user.other_address %><br>

<div>
  <%= link_to "back", :back %>
</div>  
<% end %>
