<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ユーザ</th>
      <th>内容</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= link_to report.user.name, report.user %></td>
        <td><%= report.content %></td>
        <td><%= link_to t('views.common.show'), report %></td>
        <td><%= link_to t('views.common.edit'), edit_report_path(report) if report.editable?(current_user) %></td>
        <td><%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } if report.editable?(current_user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>

<br>

<%= link_to t('views.common.new'), new_report_path %>
