<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l @report.created_at, format: :short %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user) %>:</strong>
  <%= link_to @report.user.name_or_email, @report.user.name_or_email %>
</p>

<%= render 'comments/form', commentable: @report, comment: @comment %>
<%= render 'comments/comments', commentable: @report, comments: @comments %>
<%= link_to "#{t('views.common.edit')}|", edit_report_path(@report) if @report.editable?(current_user) %>
<%= link_to t('views.common.back'), reports_path %>
